.art {
	padding: 10px;
}

.hero-art {
	background: orange;
	background-repeat: no-repeat;
	color: white;
	height: 50em;
	background-position: center 0;
	
	a {
		color: white;
	}
	h2 {
		color: white;
	}
}